.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note {
  height: 90%;
  width: 90%;
  border-radius: 1rem;
  background-color: beige;
  display: grid;
  grid-template-areas: "sidebar main main main main main main main main main main main";
}
