.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4e9e2;
}

.note {
  height: 80%;
  width: 80%;
  border-radius: 1rem;
  background-color: #fffaf0;
  box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-areas: "sidebar main main main main main main main main main main main";
  overflow: hidden;
}
